<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="style.css">

  <title>search_bar</title>
</head>

<body ng-app="myApp" ng-controller="appController" ng-controller="myController">
  <!-- container -->
  <div class="container">
    <div class="row">
      <div class="content">
        <div class="col-md-12">
          <h1>Réservez vos billets de train et de bus.
En France et en Europe.</h1>
          <p>Voyagez avec Trainline, leader indépendant de la vente de billets de train et de bus en Europe.</p>
        </div>
        <div class="content-search">
          <div class="col-md-6">
            <div class="search-form">
              <div class="search-title">
                <p class="search-text">Quel est votre trajet ?</p>
              </div>
              <!-- form -->
              <form class="form">
                <div class="search-input form-group">

                  <input  ng-model = "citie" ng-click= "razRecherche()"
                class="form-control form-control-depart" type="text" name="ville" value="" placeholder="Saisissez votre gare de départ…" autocomplete="off" tabindex="1" spellcheck="false" required="">
                  <input ng-click= "razRecherche()"  ng-model ="cities" class="form-control form-control-arrivez" type="text" name="" value=""  placeholder="Saisissez votre gare d'arrivez..."  autocomplete="off" tabindex="1" spellcheck="false" required="">
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <div class="search-form">
              <div class="search-title">
                <p class="search-text">Choisissez une gare de départ</p>
              </div>
              <!-- table -->
              <table class="table table-hover table-bordered">
                <tbody>
                  <tr ng-class="{hover: dossierCourant == unique_name }" ng-repeat="dossier in villeFiltre = (ville| filter:citie )">
                    <td class="vue" ng-show="dossier.popular"><span class="glyphicon glyphicon-map-marker"></span>
                      {{dossier.unique_name}}
                    </td>


                  </tr>

                  <tr ng-class="{hover: dossierCourant == unique_name }" ng-repeat="dossier in villeFiltre = (ville| filter:citie )">
                    <td class="cache"><span class="glyphicon glyphicon-map-marker"></span>
                      {{dossier.unique_name}}

                    </td>

                  </tr>
                  <tr ng-class="{hover: dossierCourant == unique_name }" ng-repeat="dossier in villeFiltre = (ville| filter:citie )">
                    <td class="cache"><span class="glyphicon glyphicon-map-marker"></span>
                      {{dossier.local_name}}
                    </td>

                  </tr>


                </tbody>
              </table>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

  <script src="app.js"> </script>
  <script src="script.js"></script>
  <script>

  </script>

</body>

</html>